.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ec4e8b 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    
}
.cat1{
    background-image: linear-gradient(to right, orange, rgb(240, 186, 87));
}
.cat2{
    background-image: linear-gradient(#f13980, #FF136F);
}
.cat3{
    background-image: linear-gradient(to right, rgb(89, 89, 212), rgb(25, 25, 228));
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.sub{
    position:relative;
    left: 100px;
    top: 10px;
}
#subcribe{
    height: 300px;
}
#subcribe h6{
    color: gray;
}
footer{
    text-align: center;
}
#footer{
    color: rgb(3, 3, 32);
}